# car data set operations

In [6]:
#1.take data
#2.create database called as cardataset
#3.create a table called as car with a column name given in dataset description
#4.dump all the data into car table
#5.try to check whether all the data is available inside ur table or not
#6.try to group all the data with col1 AND count occurance of each and every records based on cal1 value
#7.try to filter a record where col3 value will be 4
#8.try to update col3 value with 8 wherever u have value equal to 2
#9.try to delete table
#10.try to delete database

In [1]:
import mysql.connector as conn

mydb=conn.connect(host='localhost',user='root',password='123456789')

cursor=mydb.cursor()

In [3]:
#2.create database called as "cardataset"

In [4]:
cursor.execute('create database Cardataset')

In [2]:
cursor.execute('show databases')
cursor.fetchall()

[('Cardataset',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [3]:
#3.create a table called as car with a column name given in dataset description

cursor.execute('use Cardataset')
query_create_table='''create table Cardataset.Car(
                                        Col1 varchar(30),
                                        Col2 varchar(30),
                                        Col3 varchar(30),
                                        Col4 varchar(30),
                                        Col5 varchar(30),
                                        Col6 varchar(30),
                                        Col7 varchar(30))
                    '''

cursor.execute(query_create_table)

In [5]:
#tables in Cardataset db
cursor.execute('show tables')
cursor.fetchall()

[('Car',)]

In [22]:
#4.dump all the data into car table
import csv

with open('car.data','r') as f:
    data=csv.reader(f,delimiter='\n')
    for i in data:
        
        i=tuple(i[0].split(','))
        query_insert=f'''insert into Cardataset.Car values{(i)}'''
        #print(query_insert)
        cursor.execute(query_insert)
        
    mydb.commit()

In [23]:
#5.try to check whether all the data is available inside ur table or not


cursor.execute('select count(*) from Cardataset.Car')
cursor.fetchall()

[(1728,)]

In [25]:
#6.try to group all the data with col1 AND count occurance of each and every records based on cal1 value

query_group='''select count(*),col1 from Cardataset.Car group by col1'''

cursor.execute(query_group)
cursor.fetchall()

[(432, 'vhigh'), (432, 'high'), (432, 'med'), (432, 'low')]

In [33]:
#7.try to filter a record where col3 value will be 4

query_filter='''select count(*) from cardataset.car where col3=4'''

cursor.execute(query_filter)
cursor.fetchall()

[(432,)]

In [4]:
#8.try to update col3 value with 8 wherever u have value equal to 2
cursor.execute('''select count(*) from cardataset.car where col3='2' ''')
cursor.fetchall()


#output-[(432,)]

[(432,)]

In [5]:
query_update='''update cardataset.car set col3='8' where col3='2' '''
cursor.execute(query_update)
mydb.commit()

In [7]:
cursor.execute('''select count(*) from cardataset.car where col3='8' ''')
cursor.fetchall()

[(432,)]

In [9]:
#9.try to delete table

query_delete='''drop table cardataset.car '''
cursor.execute(query_delete)
mydb.commit()

In [11]:
cursor.execute('use cardataset')
cursor.execute('show tables')
cursor.fetchall()

[]

In [13]:
#10.try to delete database

cursor.execute('drop database cardataset')
mydb.commit()

In [15]:
cursor.execute('show databases')
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',)]